<div class="page-content-wrapper">
  <div class="page-content-inner-veld">
    <!-- <div class="row veld-home-title">
      <div class="col-lg-12">


        <h1>Detail</h1>
        <p [style.color]="'rgb(255,0,0)'">
          Beschrijving <br>
          {{ vaardigheid }} : {{ doel }}
        </p>

      </div>
    </div> -->
      <editor id="editor" apiKey="i0nk28b7gqfpmqkr1u1scopm53p6indjaw6dbc0hk5ycehym" [init]="{menubar: false, items: 'undo redo | cut copy paste pastetext | selectall', resize: false, height : '480',raw:true}"></editor>
      <button type="button" (click)="getTinyMceContent()">Click Me!</button>

  </div>
</div>
