<div class="detail-content">
  <div class="detail-group">
      <h3>Titel</h3>
      <input type="text" class="detail-input" placeholder="Titel" [(ngModel)]="titel">
  </div>
  
  <div class="detail-group">
    <h3>Beschrijving</h3>
    <editor [(ngModel)]="editor" id="editor" initialValue="test" apiKey="i0nk28b7gqfpmqkr1u1scopm53p6indjaw6dbc0hk5ycehym" [init]="{
      menubar: false,
      plugins: 'lists, link, hr, table, fullscreen, textcolor',
      toolbar1: 'undo redo | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | hr link | table | fullscreen',
      toolbar2: 'bold italic underline strikethrough | forecolor backcolor | formatselect | fontselect fontsizeselect',
      resize: false, height : '280',
      statusbar : false}">
    </editor>
  </div>
  
  <div class="detail-group">
      <input #myFotos type="file" name="file" id="file" ng-value="triggerOnChange" class="inputfile" accept="image/x-png,image/jpeg" multiple (change)="onSelectFile($event)"/>
      <label for="file">Upload foto's </label>

      <span class="wrap" *ngFor="let url of imageUrls; index as i">
        <span class="delete-image" (click)="deleteImage(i)">&times;</span>
        <img [src]="url" class="thumbnail">
      </span>
  </div>

  <div class="detail-group">
      <h3>Leerdoelen</h3>

      <input *ngFor="let leerdoel of getDoelen()" value="{{ leerdoel }}" type="text" class="detail-input" placeholder="leerdoel">
  </div>
</div>