.detail-group {
    padding: 15px 30px 0px 30px;
    height: 100%;
}

.detail-input {
    padding: 5px;
    width: 100%;
}

.detail-group h3 {
    padding: 5px 0px 5px 0px;
    color: darkgray;
    height: 100%;
}

.detail-content {
    margin-bottom: 51px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    background-color: rgb(233, 37, 45);
    color: rgb(255,255,255);
    font-size: 12px;
    padding: 8px 10px 7px;
    font-weight: 400;
    transition: all;
    transition-duration: .23s;
    letter-spacing: .2px;
    line-height: 24px;
    height: 40px;
    border-radius: 2px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    padding: 8px 14px 7px;
}
.inputfile + label {
	cursor: pointer;
}

.wrap {
    position: relative;
    display: inline-block;
}
.thumbnail {
    height: 40px;
    margin: 0px 5px 0px 10px;
    border: 1px solid darkgrey;
}
.delete-image {
    border-radius: 50px;
    border: 1px solid darkgrey;
    transition: all;
    transition-duration: .23s;
    position: absolute;
    top: -10px;
    right: -5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
	cursor: pointer;
    line-height: 19px;
}
.delete-image:hover {
    border: 1px solid rgb(233, 37, 45);
    background-color: rgb(233, 37, 45);
    color: azure;
}