<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <a class="navbar-brand" href=""> <!-- https://zill-selector.katholiekonderwijs.vlaanderen -->
    <img src="assets/Images/logo-small.png" width="auto" height="50px" alt="">
  </a>

  <span class="bars" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </span>

  <span class="user" (click)="toggleUserSidebar()">
    <i class="fas fa-user" style="color:rgb(100,100,100)"></i>
  </span>
</nav>

<!-- [style.background]="backgroundImg" -->
<div id="wrapper" [ngStyle]="{'background-image':'url('+backgroundImg+')'}" >
  <!-- Sidebar Left -->
  <aside id="sidebar" [className]="sidebarToggle ? 'page-sidebar' : 'page-sidebar collapse-sidebar'">
    <div class="sidebar-inner" [style.backgroundColor]="sidebarColor">
      <div style="position: relative; overflow: hidden; width: 279px; height: 100%;">
        <div class="sidebar-scrollarea" width="279px" height="100%" size="3px" opacity="0.4" always-visible="false" style="overflow: hidden; width: 279px; height: 100%;">
            <div style="float:left;width:100%;height:442px!important">
              <!-- Icons -->
              <ul id="ul-veld">

                <!-- sidebarItems -->
                <li *ngFor="let item of sidebarItems; index as i">
                  <a (click)="changeSidebar(item.item_color, i)" [style.background-color]="item.item_color" [style.border-color]="i==sidebarSelected ? item.item_color : 'rgb(255,255,255)'">
                    <!-- <img src="{{ item.item_img }}" height="18" width="18"> -->
                    <i [className]="item.item_img"></i>
                  </a>
                </li>

              </ul>
              <!-- Details -->
              <ul id="ul-thema">
                <li class="veld">{{ sidebarItems[sidebarSelected].item_themas.item_titel }}</li>

                <li class="sweep" *ngFor="let item of sidebarItems[sidebarSelected].item_themas.item_themas; index as i">
                  <a href="{{ sidebarItems[sidebarSelected].item_themas.item_urls[i] }}">{{ item }}</a>
                </li>


              </ul>
            </div>
        </div>
      </div>
    </div>
  </aside>

   <!-- Sidebar Right -->
  <aside id="right-sidebar" [className]="sidebarUserToggle ? 'right-sidebar' : 'right-sidebar hide-sidebar'">
    <div class="input-group" style="width:100%!important;z-index:1">
      <h3>Log-in</h3>
      <input type="text" class="form-control searchInput" placeholder="username">
      <input type="password" class="form-control searchInput" placeholder="password">
    </div>
    <div class="button-wrapper">
      <div class="btn btn-selector">
        Log in
      </div>
      <div class="btn btn-selector">
        Registreer
      </div>
    </div>
  </aside>

  <div [className]="sidebarToggle ? 'page-content sidebar-page' : 'page-content collapsed-sidebar'">
    <div class="page-content-wrapper">
      <div class="page-content-inner-veld">
        <div class="row veld-home-title">
          <div class="col-lg-12">
            <h1>{{ sidebarItems[sidebarSelected].item_themas.item_titel }}</h1>
            <p [style.color]="sidebarItems[sidebarSelected].item_color">{{ sidebarItems[sidebarSelected].item_beschrijving }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [className]="sidebarToggle ? 'content' : 'content full-content'">
    <div [className]="sidebarToggle ? 'footer' : 'footer full-content'">
      © 2018 Stijn Defour
    </div>
  </div>

</div>
