/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  background-color: #fbfbfb;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body * {
  font-family: 'Roboto', sans-serif;
}
